{% extends "layout.html" %}

{% block title %}
    О нас
{% endblock %}

{% block content %}
    <h1>О нас</h1> 
    <p>Наш зоопарк — это не просто место, где живут животные со всего мира. Это дом, где встречаются природа и человек, где рождается уважение к каждому живому существу. Мы существуем, чтобы дарить радость общения с уникальными видами животных, многие из которых находятся под угрозой исчезновения. Наша миссия — не только показать красоту дикой природы, но и научить бережно к ней относиться.</p>
    <div align="center">
        <h3>Joke</h3>
        <p>«{{ joke }}»</p>
    </div></br>
    <h3 align="center">Quote</h3>
    <blockquote align="center">   
        {{ quote }}
    </blockquote>

{% endblock %}